*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
funclist

# mplabx
**/html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/debug/
**/nbdist/
**/nbproject/Makefile-*
**/disassembly/
nbactions.xml
nb-configuration.xml

#mcc
*.mc3.bak

