*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
funclist

# mplabx
**/html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/debug/
**/nbdist/
**/nbproject/Makefile-*
**/disassembly/
nbactions.xml
nb-configuration.xml

#mcc
*.mc3.bak

#ltspice
/ltspice/*.raw
/ltspice/*.log
/ltspice/*.imp

# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

